body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #c471f5, #f7797d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 25px;
  padding: 40px 30px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

input[type="file"] {
  width: 190px;
  padding: 6px 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  background-color: #f5f5f5;
  cursor: pointer;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5f6df7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3e4adb;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
